body{
    background: #B3FFAB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
display: flex;
flex-direction: column;
--sb-track-color: #304236;
  --sb-thumb-color: #8dfdfd;
  --sb-size: 16px;
  align-items: center;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 18px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 18px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

fieldset{
    color: white;
    border: none;
    border-radius: 10px;
    font: Segoe UI;
    margin: 10px;
    padding: 10px;
    opacity: 1;
}

#nav{
    justify-content: center;
    border: 8px solid white;
    border-radius: 15px;
    background: transparent;
    backdrop-filter: blur(10px);
    align-items: center;
    font-weight: 700;
    right: 50rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nav a{
  text-decoration: none;
  color: white;
}
.container1{
  background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    font-weight: 1000;
    font-size: large;
    margin-top: 20vh;
    color: #333;
    background-size: cover;
}

.container2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20vh;
    padding: 10px;
    justify-content: space-around;
    color: #333;
    font-size: large;
    font-weight: 1000;
}

.container3{
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
    padding: 10px;
    justify-content: space-around;
    font-size: large;
    font-weight: 1000;
    color: #333;
}

.slides-container{
  width: 80vw;
  height: 70vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
}

.slide{
  width: 80%;
  height: 100%;
  position: absolute;
  transition: transform 300ms ease-out;
}

.slide img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  border: 2px solid white;
}

.btn {
  background: none;
  border: none;
  font-size: 3.5vw;
  cursor: pointer;
  transform: translateY(-50%);
  position: absolute;
}

.btn span{
  color: hsl(281, 100%, 35%);
}

.btn span:hover{
  color: hsl(281, 100%, 40%);
}

.btn.previous{
  top: 50%;
  left: 0;
}

.btn.next{
  top: 50%;
  right: 0;
}