*{
  padding: 20px;
  color: #000000;
  font: 'Segoe UI';
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}
body{
  align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font:'-apple-system';
    justify-content: center;
    font-size: larger;
    scroll-behavior: smooth;
    --sb-track-color: #31373a;
    --sb-thumb-color: #6d7b74;
    --sb-size: 14px;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 14px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 14px;
}
.heading{
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: rgb(83, 201, 201);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0 ,0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.heading:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);  
  scale: 1.04 ;
  background: rgb(64, 214, 194);
}



.blobs{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
  transition: all ease-in-out 0.2 hover;
}
.blobs:hover{
  scale: 1.04 ;
}
.blob{
  background: url(Profile-Avatar-PNG.png);
  background-size: cover;
  border-radius: 40% 60% 65% 35% / 40% 35% 65% 60%;
  height: 300px;
  width: 300px;
  animation: shaping 5s infinite;
}
@keyframes shaping{
  0%{
    border-radius: 40% 60% 65% 35% / 40% 35% 65% 60%;
  }
  50%{
    border-radius: 70% 30% 50% 50% / 65% 35% 65% 35%;
  }
  100%{
    border-radius: 40% 60% 65% 35% / 40% 35% 65% 60%;
  }
}
fieldset{
  padding: 10px;
  border-radius: 25px;
  border: none;
  background-color: #6d7b74;
  margin-bottom: 20px;
  width: 23vh;
  height: 20vw;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-margin: 10px;
}

.container{
  background: transparent;
  padding: 20px;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  backdrop-filter: blur(10px);
  transition: 0.3s ease-in-out;
}
.container:hover{
  scale: 1.04;
  background-color: #6d7b74;
}
.container input{
  border: none;
  border-radius: 25px;
  background-color: #6d7b74;
  color: white;
}
.element{
  background-color: rgb(83, 201, 201);
  border: none;
  
  border-radius: 15px;
  font-size: bold;
  font: bold;
  color: #fff;
  transition: 0.3s ease-in-out;
  width: 20vw;
  height: 25vh;
}
.element:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);  
  scale: 1.04 ;
  background: rgb(64, 214, 194);
}




.search__input{
  width: 0;
  transition: width .5s;
}
.search__button{
  display: grid;
  place-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: color .25s;
}
.search__button:hover{
  color: #e3e3e3;
}
.search:focus-within input{
  width: 180px;
}
.search{
  display: inline-flex;
  align-items: center;
  background: linear-gradient(194deg, #440bbf, #bc2fc9);
  color: #fff;
  padding: 15px;
  border-radius: 40px;
}
.search :is(input, button){
  color: inherit;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
}